body {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;  
    overflow: hidden;  
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    height: 6.0rem;
}
header nav {
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: 235px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}
nav .nav-right-section .menu-icon {
    background-image: url('https://icons.veryicon.com/png/o/internet--web/55-common-web-icons/apps-27.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 10px;
}
main {
    margin-top: 175px;
    text-align: center;
   
}
main .main-logo  {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-logo img {
    width: 300px;
}
main .main-input {
    width: 592px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main-input-container {
    width: 590px; 
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}
main .main-input input {
    width: 465px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
}
main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}
main .main-input .search-icon {
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
    opacity: 0.4;
}

main .main-input .micro-icon {
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    padding: 0 8px;

}
main .main-input .camera-icon {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRS7U8tp8T-vf4vMeJj7VtdOs7yzD2oDrE57g&usqp=CAU');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 20px;
    cursor: pointer;
    padding: 0 8px;
}
main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div {
    display: inline-block;
}
main .main-buttons button {
    height: 36px;
    background-color: #f8f9fa;
    border: 0;
    font-size: 14px;
    color: #3c4043;
    border-radius: 5px;
    padding: 0 16px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    bottom: 18px;
    margin: 11px 4px
}
main .main-buttons button:hover {
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%)
}
footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #dadce0;
}
footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left {
    justify-self: left;
}
footer .footer-right {
    justify-self: right;
}
footer ul li a {
    margin: 10px;
    color: #70757a;
}
/* Para dispositivos con ancho máximo de 767px (por ejemplo, smartphones en posición vertical) */
@media only screen and (max-width: 767px) {
    /* Modificar estilos de los elementos que deben cambiar su apariencia */
    header {
        height: 4.0rem;
    }
    header nav {
        justify-content: flex-end;
    }
    
   
    main {
        margin-top: 120px;
    }
    main .main-logo  {
        width: 380px;
        margin-bottom: 20px;
    }
    main .main-input {
        width: 85%;
    }
    main .main-input-container {
        width: 90%;
        height: 36px;
    }
    main .main-input input {
        width: 80%;
        font-size: 12px;
    }
    main .main-input .micro-icon {
        display: none;
    }
    main .main-input .camera-icon {
        display: none;
    }
    main .main-buttons {
        width: 85%;
    }
    main .main-buttons div {
        display: block;
    }
    main .main-buttons button {
        width: 45%;
        margin: 10px auto;
        bottom: 0;
    }
    footer ul {
        margin: 5px;
    }
    footer li a {
        margin: 5px;
        font-size: 12px;
    }
}
/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    header {
        height: 4rem;
    }
    #gmail {
        display: none;
    }
    #imagenes {
        display: none;
    }
    header nav .nav-right-section {
        justify-content: flex-end;
        align-items: center;
    }
    main {
        margin-top: 100px;
    }
    main .main-logo {
        width: 300px;
        margin-bottom: 20px;
    }
    main .main-input {
        width: 90%;
        margin-bottom: 20px;
    }
    main .main-input-container {
        width: 100%;
        border-radius: 30px;
        height: 36px;
    }
    main .main-input input {
        width: 80%;
        font-size: 12px;
        height: 26px;
    }
    main .main-input .search-icon {
        width: 14px;
        height: 14px;
    }
    main .main-buttons {
        display: none;
    }
    main .main-buttons div {
        display: block;
    }
    main .main-buttons button {
        height: 32px;
        font-size: 12px;
        border-radius: 3px;
        padding: 0 10px;
        margin-right: 5px;
        bottom: 0;
        margin: 5px 2px;
    }
    footer {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-content: center;
    }
    footer ul li {
        display: inline-block;
        margin: 5px;
    }
    footer .footer-right {
        justify-self: center;
    }
}

/* Estilos para tabletas */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    header {
        height: 5rem;
    }
    header nav .nav-right-section {
        width: 200px;
        justify-content: space-between;
        align-items: center;
    }
    main {
        margin-top: 125px;
    }
    main .main-logo {
        width: 400px;
        margin-bottom: 30px;
    }
    main .main-input {
        width: 60%;
        margin-bottom: 30px;
    }
    main .main-input-container {
        width: 94%;
        border-radius: 50px;
        height: 50px;
    }
    main .main-input input {
        width: 77%;
        font-size: 15px;
    }
    main .main-input .search-icon {
        width: 18px;
        height: 18px;
    }
    main .main-buttons {
        width: 60%;
    }
    main .main-buttons button {
        height: 40px;
        font-size: 14px;
        border-radius: 5px;
        padding: 0 16px;
        margin-right: 10px;
        bottom:0;
    }
    
}
